<h1><%= @inventory.name %></h1>
<p><%= @inventory.description %></p>

<% if @inventory.owner_type == 'Organization' %>
  <%= link_to @inventory.owner.name, organization_path(@inventory.owner) %>
<% end %>
