body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body > main {
  padding: 0 20px;
}

.card {
  padding: 10px 40px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  margin-bottom: 20px;
  max-width: 400px;
}
